<%= form_with(url: sessions_path, method: :post) do |form| %>

  <div class="col-md-6">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-3">
      <%= form.email_field :email, id: "loginName", class: "form-control", style: "width: 100%" %>
      <label class="form-label" for="loginName">Email</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-3">
      <%= form.password_field :password, id: "loginPassword", class: "form-control", style: "width: 100%" %>
      <label class="form-label" for="loginPassword">Password</label>
    </div>

    <!-- Submit button -->
    <div class="text-center">
      <%= form.submit "Sign in", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
